/* You can add global styles to this file, and also import other style files */
html {
    
    min-height: auto;
    background: #457B9D;
background: -moz-linear-gradient(left, #457B9D 0%, #A8DADC 50%, #F1FAEE 100%);
background: -webkit-linear-gradient(left, #457B9D 0%, #A8DADC 50%, #F1FAEE 100%);
background: linear-gradient(to right, #457B9D 0%, #A8DADC 50%, #F1FAEE 100%);
  }