.row{
    padding: 30px;
}

div{
    background-color: #1d3557;
    color: #f1faee;
}

#fotoPerfil{
    border:5px solid #f1faee;
    border-radius: 10%;
}

#titulo{
    font-weight: bold;
    font-size: 200%;
}