<div class="container-fluid">
  <div class="row">
    <div class="container-fluid text-center position-relative">
      <img
        src="../../assets/foto perfil.jpg"
        alt="Foto de perfil"
        id="fotoPerfil"
        class="rounded-circle mx-auto d-block position-absolute top-50 start-50 translate-middle"
      />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row"></div>
  <div class="row"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="text-center" id="tituloDiv">
      <!-- <h1>{{persona.nombre}} {{persona.apellido}}</h1> -->
      <h1>Mariano Vera Causich</h1>
      <h5>
        Full stack Developer Jr - Estudiante avanzando Ingenieria Electrónica
      </h5>
    </div>
  </div>
</div>
