<div class="container-fluid">

<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/foto perfil.jpg" alt="" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
        <h1 id="titulo">Mariano Nicolás Vera Causich</h1>
        <p>Full stack Developer Jr</p>
        <span>
            <h2>
                Acerca de
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ducimus dolorem, consequuntur laudantium eaque eius maxime reprehenderit libero voluptas explicabo suscipit ipsam ratione inventore rem itaque natus labore molestiae perspiciatis!
            </p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        
    </div>
</div>
</div>