.row{
    padding: 30px;
}

div{
    background-color: #457b9d;
    color: #f1faee;
}

#tituloDiv{
    text-align: center;
}

@media(min-width: 576px){
    
    #fotoPerfil{
        position: absolute; 
        width: 13%;
        top: 18%;
        left: 7.5%;
        border: 2px solid #f1faee;
        border-radius: 5%;
    }    
}
@media (max-width:575px){

    #fotoPerfil{
        text-align: center;
        width: 60%;
        border: 2px solid #f1faee;
        border-radius: 5%;
    } 
} 

