.row{
    padding: 30px;
    /* border: 1px solid red */
}

div{
    background-color: #f1faee;
    color: #1d3557; 
}

#tituloDiv{
    text-align: center;
}

@media(min-width: 1300px){
    
    #fotoPerfil{
        max-width: 17%;
        border: 3px solid #1d3557;
    }    
}

@media(min-width: 1024px) and (max-width: 1299px){
    
    #fotoPerfil{
        max-width: 25%;
        border: 3px solid #1d3557;
    }    
}

@media(min-width: 769px) and (max-width: 1023px){

    #fotoPerfil{
        max-width: 30%;
        border: 3px solid #1d3557;
    } 

}

@media(min-width: 469px) and (max-width: 768px){

    #fotoPerfil{
        max-width: 35%;
        border: 3px solid #1d3557;
    } 

}
@media (max-width: 468px){

    #fotoPerfil{
        width: 50%;
        border: 3px solid #1d3557;
    } 
}   






