<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="../../assets/foto perfil.jpg"
        alt=""
        id="fotoPerfil"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="tituloDiv">
      <h2>Mariano Vera Causich</h2>
      <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
          deserunt ad debitis? Explicabo, tempora eius pariatur repudiandae
          vitae itaque officia, incidunt ea, illum commodi reiciendis minus
          similique quibusdam! Rerum, illo!
        </p>
      </span>
    </div>
  </div>
</div>
