.row{
    padding: 0 30px 0 30px;
    /* border: 1px solid red  */
}

div{
    background-color: #f1faee;
    color: #1d3557;
}


@media(min-width: 1300px){
    
    #acerca-mi{
        width: 7%;
        border-radius: 5%;
        padding: 10px;
    }    
}

@media(min-width: 769px) and (max-width:1299px){
    
    #acerca-mi{
        width: 12%;
        border-radius: 5%;
        padding: 10px;
    }    
}

@media(min-width: 769px) and (max-width:1023px){
    
    #acerca-mi{
        width: 17%;
        border-radius: 5%;
        padding: 10px;
    }    
}

@media(min-width: 469px) and (max-width:768px){
    
    #acerca-mi{
        width: 22%;
        border-radius: 5%;
        padding: 10px;
    }    
}
@media (max-width:468px){

    #acerca-mi{
        width: 27%;
        border-radius: 5%;
        padding: 10px;
    } 
}  

#boton-edit{
    color: #1d3557;
    border: 1px solid #1d3557;
    background-color: #f1faee;
    border-radius: 50%;
    font-size: 150%;
}

#boton-edit:hover{
    color: #f1f1f1;
    border: 1px solid #f1faee;
    background-color: #457b9d;
}