<div class="container-fluid">
    <div class="row">
      <div class="col-1">

      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-center">
          <h2 class="fs-2">Acerca de mi</h2>
          <p>
            Nacido en la ciudad de Colonia Caroya, Córdoba, Argentina soy un joven estudiante que se embarco en el mundo de la tecnología en el 2014 
            empezando la carrera universitaria de Ingenieria Electrónica. Tras primeros años de tropiezos en el area de la programación logre superarme 
            y encontrar la pasión en la codificación cumpliendo con los objetivos planteados por la carrera. Al llegar a mi ultimo año elegi seguir el 
            camino de desarrollo de software complementando lo ya visto en la carrera con nuevos lenguajes, por esto entre a un programa de capacitación
            nacional de desarrollo web y tambien elegir materias electivas relacionadas con la programación. Soy una persona muy autoexigente y competitiva
            esto me lleva a cada dia superarme más como profesional y pulir mis habilidades.
          </p>
      </div>
      <div class="col-1">
        <button type="button" hidden="true" class="btn" id="boton-edit">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
      <div>
        
      </div>
    </div>

      <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img
            class=""
            id="acerca-mi"
            src="../../assets/persona.png"
            alt="Imagen"
          />
        </div>
        
      </div>
  </div> 
