.row{
    padding: 30px;
    /* border: 1px solid red  */
}

div{
    background-color: #f1faee;
    color: #1d3557;
}

@media(min-width: 576px){
    
    #acerca-mi{
        max-width: 8%;
        border: 2px solid #1d3557; 
        border-radius: 5%;
        padding: 10px;
    }    
}
@media (max-width:575px){

    #acerca-mi{
        width: 40%;
        border: 2px solid #1d3557;  
        border-radius: 5%;
        padding: 10px;
    } 
}   