<div class="container-fluid">
  <div class="row align-items-center ">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <span>
        <h1>Experiencia laboral</h1>
        <ul>
          <li>
            <h3>Profesor reparacion y armado de PC </h3>
           
            <h3>(2021-presente)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
        </ul>
      </span>
    </div>
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        class="float-end"
        id="experiencia-img"
        src="../../assets/empresario.png"
        alt="Imagen"
      />
    </div>
  </div>
</div>
