
<div class="container-fluid ">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <img
        class=""
        id="experiencia-img"
        src="../../assets/empresario.png"
        alt="Imagen"
      />
    </div>
  </div>
  <div class="row align-items-center ">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 mb-3">
      <span>
        <h2 class="mb-4 text-center fs-1" id="titulo">Experiencia laboral</h2>
        
        
        <ol style="list-style-type: disc;" *ngFor="let Experiencia of expe">
          <li class="mb-3">
            <!-- <h4>Profesor reparacion y armado de PC </h4> -->
            <h4>{{Experiencia.nombreE}}</h4>
            <!-- <p id="fecha">(2021-presente)</p> -->
            <p id="fecha">({{Experiencia.fechaE}})</p>
            <p>{{Experiencia.descripcionE}}</p>
            <!-- <p>
              Instituto Integral Capacitando, sucursal Jesus Maria.
              Capacitación de alumnos en Hardware y Software de PC especializado para arreglo y mantenimiento. 
              Avalado por Universidad Tecnológica Nacional - Facultad Regional Córdoba.
            </p> -->
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
              <button type="button" class="btn" id="boton-edit" *ngIf="isLogged" routerLink="/editexp/{{Experiencia.id}}">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn" id="boton-close" *ngIf="isLogged" (click)="delete(Experiencia.id)">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </li>
        </ol>
      </span>
    </div>
    
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn" id="boton-add" routerLink="/nuevaexp" *ngIf="isLogged">
        <i class="bi bi-plus-lg" ></i>
      </button>
    </div>
  </div>

    
</div>
