.row{
    padding: 30px;
    
}

div{
    color: #1d3557;  
    background-color: #f1faee;
    
   
}

h3{
    display: inline;
}

@media(min-width: 576px){
    
    #experiencia-img{
        max-width: 70%;
        border: 2px solid #1d3557;  
        border-radius: 5%;

    }    
}
@media (max-width:575px){

    #experiencia-img{
        width: 30%;
        border: 2px solid #1d3557;  
        border-radius: 5%;
    } 
}   


