.row {
  padding: 0px 30px 0 30px;
  /* border: 1px solid red; */
}

div {
  color: #1d3557;
  background-color: #f1faee;
}

h3 {
  display: inline;
}

@media(min-width: 1300px){
    
  #experiencia-img{
      width: 7%;
      border-radius: 5%;
      padding: 10px;
  }    
}

@media(min-width: 769px) and (max-width:1299px){
  
  #experiencia-img{
      width: 12%;
      border-radius: 5%;
      padding: 10px;
  }    
}

@media(min-width: 769px) and (max-width:1023px){
  
  #experiencia-img{
      width: 17%;
      border-radius: 5%;
      padding: 10px;
  }    
}

@media(min-width: 469px) and (max-width:768px){
  
  #experiencia-img{
      width: 22%;
      border-radius: 5%;
      padding: 10px;
  }    
}
@media (max-width:468px){

  #experiencia-img{
      width: 27%;
      border-radius: 5%;
      padding: 10px;
  } 
}

#boton-edit {
  text-align: center;
  color: #1d3557;
  border: 1px solid #1d3557;
  background-color: #f1faee;
  border-radius: 50%;
  font-size: 150%;
  margin: 3%;
}

#boton-edit:hover {
  text-align: center;
  color: #f1f1f1;
  border: 1px solid #f1faee;
  background-color: #457b9d;
  margin: 3%;
}

#boton-close {
  text-align: center;
  color: #e63946;
  border: 1px solid #e63946;
  background-color: #f1faee;
  border-radius: 50%;
  font-size: 150%;
  margin: 3%;
}

#boton-close:hover {
  text-align: center;
  color: #f1f1f1;
  border: 1px solid #f1faee;
  background-color: #e63946;
  margin: 3%;
}

#boton-add {
  color: #06d6a0;
  border: 1px solid #06d6a0;
  background-color: #f1faee;
  border-radius: 50%;
  font-size: 150%;
}

#boton-add:hover {
  color: #f1f1f1;
  border: 1px solid #f1faee;
  background-color: #06d6a0;
}

#fecha{
  font-size: larger;
  font-style: italic;
}
