<div class="container-fluid">
  <div class="row align-items-center ">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <span>
        <h2>Experiencia laboral</h2>
        <ul>
          <li>
            <h4>Profesor reparacion y armado de PC </h4>
           
            <h4>(2021-presente)</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
        </ul>
      </span>
    </div>
  </div>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img
          class=""
          id="experiencia-img"
          src="../../assets/empresario.png"
          alt="Imagen"
        />
      </div>
    </div>
</div>
