<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2>Proyectos</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
        assumenda molestias quidem autem delectus aliquid doloremque maxime nemo
        nulla, accusamus maiores deleniti repellendus iusto alias incidunt
        repudiandae possimus, consequuntur voluptas!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <img src="../../assets/arg-pro.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Argentina programa</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <img src="../../assets/Apps-para-Raspberry-Pi.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Proyecto Tecnicas Digitales II</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn" id="boton-add">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img
        src="../../assets/lanzamiento-del-proyecto.png"
        class=""
        id="proyectos-img"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <p class="text-center"></p>
  </div>
</div>
