<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <img
        src="../../assets/lanzamiento-del-proyecto.png"
        class=""
        id="proyectos-img"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2 class="mb-4 text-center fs-1">Proyectos</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-1"></div>
    <div
      class="card col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center m-2"
      style="width: 18rem; color: #1d3557"
    >
      <img
        src="../../assets/ap-card.jpg"
        class="card-img-top mt-2"
        alt="..."
        style="border: 1px solid #1d3557; border-radius: 2%"
      />
      <div class="card-body">
        <h5 class="card-title">Portfolio Argentina Programa</h5>
        <p class="card-text">
          Proyecto final que consta de un portofolio personal con frontend y
          backend.
        </p>
        <a
          href="https://github.com/MarianoVera22/Portfolio_MarianoVeraCausich"
          target="_blank"
          class="btn"
          id="boton-github"
          ><i class="bi bi-git" id="github"></i> Repositorio</a
        >
      </div>
    </div>
    <div
      class="card col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center m-2"
      style="width: 18rem"
    >
      <img
        src="../../assets/raspy-card2.png"
        class="card-img-top mt-2"
        alt="..."
        style="border: 1px solid #1d3557; border-radius: 2%"
      />
      <div class="card-body">
        <h5 class="card-title">Proyecto Tecnicas Digitales II</h5>
        <p class="card-text">
          Proyecto final resuelto en Raspberry Pi utilizando lenguaje de
          progrmación C.
        </p>
        <a
          href="https://github.com/MarianoVera22/Tecnicas-Digitales-II"
          target="_blank"
          class="btn"
          id="boton-github"
          ><i class="bi bi-git" id="github"></i> Repositorio</a
        >
      </div>
    </div>
    <div
      class="card col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center m-2"
      style="width: 18rem"
    >
      <img
        src="../../assets/python-opencv.png"
        class="card-img-top mt-2"
        alt="..."
        style="border: 1px solid #1d3557; border-radius: 2%"
      />
      <div class="card-body">
        <h5 class="card-title">Visión por computadora</h5>
        <p class="card-text">
          Practicos de materia electiva resueltos en Python utilizando libreriar
          como OpenCV, Matlib y Numpy.
        </p>

        <a
          href="https://gitlab.com/marianonvera.22/vision-por-computadora"
          target="_blank"
          class="btn"
          id="boton-github"
          ><i class="bi bi-git" id="github"></i> Repositorio</a
        >
      </div>
    </div>
    <div
      class="card col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center m-2"
      style="width: 18rem"
    >
      <img
        src="../../assets/presupuesto.png"
        class="card-img-top mt-2"
        alt="..."
        style="border: 1px solid #1d3557; border-radius: 2%"
      />
      <div class="card-body">
        <h5 class="card-title">Presupuesto</h5>
        <p class="card-text">
          Ejercicio final de curso Angular en Udemy. Trata de un presupuestario
          online, resuelto en HTML, CSS y Typescript.
        </p>
        <a
          href="https://github.com/MarianoVera22/PresupuestoAngular"
          target="_blank"
          class="btn"
          id="boton-github"
          ><i class="bi bi-git" id="github"></i> Repositorio</a
        >
      </div>
    </div>
    <div
      class="card col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center m-2"
      style="width: 18rem"
    >
      <img
        src="../../assets/ros.jpg"
        class="card-img-top mt-2"
        alt="..."
        style="border: 1px solid #1d3557; border-radius: 2%"
      />
      <div class="card-body">
        <h5 class="card-title">Fundamentos de robotica movil</h5>
        <p class="card-text">
          Trabajos practicos de materia electiva resueltos en ROS y Python
          (Jupyter Notebook).
        </p>
        <a
          href="https://gitlab.com/marianonvera.22/fundamentos-de-robotica-movil"
          target="_blank"
          class="btn"
          id="boton-github"
          ><i class="bi bi-git" id="github"></i> Repositorio</a
        >
      </div>
    </div>
  </div>

  <div class="row">
    <p class="text-center"></p>
  </div>
</div>


<!-- <div class="col-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <img src="../../assets/arg-pro.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Argentina programa</h5>
          <p class="card-text">
            Portofolio personal desarrollado en la Web con tecnologias como HTML, CSS, Javascript, Angular, MySQL, Spring Boot, etc.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <img src="../../assets/Apps-para-Raspberry-Pi.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Proyecto Tecnicas Digitales II</h5>
          <p class="card-text">
            Proyecto de programación en C/C++ desarrollada en una placa Raspberry Pi 3.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" hidden="true" class="btn" id="boton-add">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div> -->
