<div class="mt-5" id="cuerpo">
  <form [formGroup]="form" id="box">
    <div class="text-center">
      <a
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        target="_blank"
        ><img id="logoAp" src="../../assets/APLogo-20-20.png" alt=""
      /></a>
    </div>
    <h2><b>Iniciar sesión</b></h2>
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input
        type="email"
        [ngClass]="{
          'is-invalid': Email?.errors && Email?.touched,
          'is-valid': !Email?.errors && Email?.touched
        }"
        class="form-control"
        formControlName="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Usuario"
      />
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">
          El email es requerido.
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger">
          El formato debe ser tipo email.
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input
        type="password"
        [ngClass]="{
          'is-invalid': Password?.errors && Password?.touched,
          'is-valid': !Password?.errors && Password?.touched
        }"
        class="form-control"
        formControlName="password"
        id="exampleInputPassword1"
        placeholder="Contraseña"
      />
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          La contraseña es requerida.
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="text-danger">
          La contraseña debe tener al menos 8 caracteres.
        </p>
      </div>
    </div>
    <div class="text-center d-grid gap-2 mt-5">
      <button id="enviar" class="btn btn-lg" type="submit">
        <b>Enviar</b>
      </button>
    </div>
    <a href="http://localhost:4200/portfolio" style="text-decoration: none">
      <div class="text-center d-grid gap-2 mt-2">
        <button id="volver" class="btn btn-lg" type="button">
          <b>Salir</b>
        </button>
      </div>
    </a>
  </form>
</div>
<div class="fixed-bottom">
  <app-footer></app-footer>
</div>
