<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2>Educación</h2>
      <ul>
        <li>
          <h4>Ingenieria Electrónica</h4>

          <p id="fecha">(2014-presente)</p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>

          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <li>
          <h4>Argentina Programa</h4>

          <p id="fecha">(2014-presente)</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>
          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>
        <li>
          <h4>Reparación y armado de PC</h4>

          <p id="fecha">(2021-2022)</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>
          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>
        <li>
          <h4>Desarrollo Web - Front end</h4>

          <p id="fecha">(2021-2022)</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>
          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>
        <li>
          <h4>Desarrollo Web - Angular</h4>

          <p id="fecha">(2022-2022)</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>
          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>
        <li>
          <h4>Bachiller en administración y economia</h4>

          <p id="fecha">(2008-2013)</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
            velit et eveniet sunt, vero omnis eius voluptatibus provident
            incidunt nihil consequatur unde.
          </p>
          <div class="col-2">
            <button type="button" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn" id="boton-add">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../assets/birrete.png" class="" id="educacion-img" alt="" />
    </div>
  </div>
</div>
