<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <img src="../../assets/birrete.png" class="" id="educacion-img" alt="" />
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2 class="p-2 text-center fs-1">Educación</h2>
      <ol style="list-style-type: disc;" *ngFor="let Educacion of edu">
        <li class="mb-3">
          <!-- <h4>Ingenieria Electrónica</h4> -->
          <h4>{{Educacion.nombreEd}}</h4>
          <!-- <p id="fecha">(2014-presente)</p> -->
          <p id="fecha">({{Educacion.fechaEd}})</p>
          <!-- <p>Universidad Tecnológica Nacional - Facultad Regional Córdoba.</p>
          <ul>
            <li>Cursando actualmente 6to año.</li>
            <li>90% de materias aprobadas.</li>
            <li>
              Electivas elegidas: Visión por computadora, Fundamentos de
              róbotica móvil y Sistemas de comunicaciones III.
            </li>
          </ul> -->
          <p>{{Educacion.descripcionEd}}</p>

          <div class="col-2">
            <button type="button" *ngIf="isLogged" class="btn" id="boton-edit" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" *ngIf="isLogged" class="btn" id="boton-close" (click)="delete(Educacion.id)">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <!-- <li class="mb-3">
          <h4>Argentina Programa</h4>

          <p id="fecha">(2021-presente)</p>
          <p>
            Plan nacional de formación en programación, cuenta con dos etapas.
          </p>
          <ul>
            <li>
              #SéProgramar: Principios de programación en Javascript y Ruby.
              <a
                href="https://drive.google.com/file/d/1Qq55A_SqhYJ5_DaGZy3Ng1A-8_bNICLf/view?usp=sharing"
                target="_blank"
              >
                <i class="bi bi-award-fill" id="diploma"></i>
              </a>
            </li>
            <li>
              #YoProgramo: Desarrollador Web Full Stack (HTML, CSS, Javascript,
              MySQL, Angular, etc.)
            </li>
          </ul>
          <div class="col-2">
            <button type="button" hidden="true" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" hidden="true" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <li class="mb-3">
          <h4>Reparación y armado de PC</h4>

          <p id="fecha">(2019-2019)</p>
          <p>Instituto Integral Capacitando, sucursal Córdoba.</p>
          <ul>
            <li>
              Capacitación en Hardware y Software de PC especializado para
              arreglo y mantenimiento.
            </li>
            <li>
              Avalado por UTN-FRC.
              <a
                href="https://drive.google.com/file/d/105qfwwTzRcqCDTnzD2WqxPuRoit0LNwr/view?usp=sharing"
                id="certificado"
                target="_blank"
                ><i class="bi bi-award-fill" id="diploma"></i
              ></a>
            </li>
          </ul>
          <div class="col-2">
            <button type="button" hidden="true" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" hidden="true" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <li class="mb-3">
          <h4>Desarrollo Web - Front end</h4>

          <p id="fecha">(2021-2022)</p>
          <p>Plataforma de aprendizaje en línea Udemy.</p>
          <p>Desarrollo Web</p>
          <ul>
            <li>Global Mentoring. Ing. Ubaldo Acosta.</li>
            <li>
              HTML, CSS y Javascript.
              <a
                href="https://drive.google.com/file/d/18gZq5X3avzV1cKA11QK8t8yGcHTHUJhW/view?usp=sharing"
                id="certificado"
                target="_blank"
                ><i class="bi bi-award-fill" id="diploma"></i
              ></a>
            </li>
          </ul>
          <br>
          <p>Diseño de web</p>
          <ul>
            <li>Ramesh Pandey</li>
            <li>
              Desarrollo Web Responsive con Boostrap.
              <a
                href="https://drive.google.com/file/d/1N1DMDcmtqXo5B52MDST7UPVX4UG9mmsz/view?usp=sharing"
                id="certificado"
                target="_blank"
                ><i class="bi bi-award-fill" id="diploma"></i
              ></a>
            </li>
          </ul>
          <div class="col-2">
            <button type="button" hidden="true" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" hidden="true" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <li class="mb-3">
          <h4>Desarrollo Web - Angular</h4>

          <p id="fecha">(2022-2022)</p>
          <p>Plataforma de aprendizaje en línea Udemy.</p>
          <ul>
            <li>Global Mentoring. Ing. Ubaldo Acosta.</li>
            <li>
              Angular y Firebase.
              <a
                href="https://drive.google.com/file/d/15RV7zOafgDFh0bN-dhUH8xHAxfy4XJX3/view?usp=sharing"
                id="certificado"
                target="_blank"
                ><i class="bi bi-award-fill" id="diploma"></i
              ></a>
            </li>
          </ul>
          <div class="col-2">
            <button type="button" hidden="true" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" hidden="true" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li>

        <li class="mb-3">
          <h4>Bachiller en administración y economía</h4>

          <p id="fecha">(2008-2013)</p>
          <p>Presbitero Jose Bonoris.</p>
          <ul>
            <li>Orientación Economía y Gestión</li>
          </ul>
          <div class="col-2">
            <button type="button" hidden="true" class="btn" id="boton-edit">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" hidden="true" class="btn" id="boton-close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </li> -->
      </ol>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" *ngIf="isLogged" class="btn" id="boton-add" routerLink="/nuevaedu">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
</div>
