<div class="container-fluid" id="educacion">
    <div class="row">
      <h1>Educacion</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <ul>
          <li>
            <h3>Ingenieria Electronica </h3>
           
            <h3>(2014-presente)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
          <li>
            <h3></h3>
           
            <h3>(2014-presente)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
          <li>
            <h3>Ingenieria Electronica</h3>
           
            <h3>(2014-presente)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
          <li>
            <h3>Ingenieria Electronica</h3>
           
            <h3>(2014-presente)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              similique ullam necessitatibus tenetur dolorem enim voluptatem modi,
              velit et eveniet sunt, vero omnis eius voluptatibus provident incidunt
              nihil consequatur unde.
            </p>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
