.row{
    padding: 30px;
    color: #1d3557;  
    background-color: #f1faee;
}

@media(min-width: 576px){
    
    #educacion-img{
        max-width: 70%;
        border: 2px solid #1d3557;  
        border-radius: 5%;

    }    
}
@media (max-width:575px){

    #educacion-img{
        width: 30%;
        border: 2px solid #1d3557;  
        border-radius: 5%;
    } 
}   

#fecha{
    font-size: larger;
    font-style: italic;
}
