<div class="container-fluid">
  <div class="row text-center ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <img
        class=""
        id="skills-img"
        src="../../assets/habilidades.png"
        alt="Imagen"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2 class="mb-5 text-center fs-1">Soft & Hard skills</h2>
    </div>
  </div>
  <div class="row" id="skills-circle">
    <div class="col-1"></div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="60"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/html-5.png'"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(255,87,34)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">HTML</p>
        <button type="button" hidden="true" class="btn" id="boton-edit">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button type="button" hidden="true" class="btn" id="boton-close">
          <i class="bi bi-x-lg"></i>
        </button>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="70"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/css-3.png'"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(33,150,243)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">CSS</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="55"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/js.png'"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(255,223,0)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">JavaScript</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="60"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/bootstrap-logo.svg'"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(124,17,248)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Bootstrap</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="50"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/angular.png'"
        [imageWidth]="110"
        [imageHeight]="110"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(221,3,48)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Angular</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="50"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/logo-mysql-170x115.png'"
        [imageWidth]="115"
        [imageHeight]="95"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(242,145,17)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">MySQL</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="40"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/spring.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(109,179,63)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Springboot</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="80"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/trabajo-en-equipo.png'"
        [imageWidth]="110"
        [imageHeight]="110"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(114,194,233)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Trabajo en equipo</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="75"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/aprendiendo.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(232,89,74)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Aprendizaje</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 text-center">
      <circle-progress
        [percent]="80"
        [showSubtitle]="false"
        [radius]="80"
        [showImage]="true"
        [imageSrc]="'../../assets/ensenando.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(93,225,196)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Enseñanza</p>
      <button type="button" hidden="true" class="btn" id="boton-edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button type="button" hidden="true" class="btn" id="boton-close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" hidden="true" class="btn" id="boton-add">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>

  
</div>
