<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h2>Soft & Hard skills</h2>
    </div>
  </div>
  <div class="row" id="skills-circle">
    <div class="col-1"></div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="70"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">HTML</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="60"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/css-3.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(0,76,232)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">CSS</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="55"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/logo-js.png'"
        [imageWidth]="105"
        [imageHeight]="105"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(230,201,47)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">JavaScript</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="60"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/bootstrap-logo.svg'"
        [imageWidth]="85"
        [imageHeight]="85"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(124,17,248)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Bootstrap</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="50"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/angular.png'"
        [imageWidth]="105"
        [imageHeight]="105"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(221,3,48)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Angular</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="35"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/logo-mysql-170x115.png'"
        [imageWidth]="115"
        [imageHeight]="95"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(242,145,17)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">MySQL</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="15"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/spring.png'"
        [imageWidth]="95"
        [imageHeight]="95"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(109,179,63)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Springboot</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="80"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/trabajo-en-equipo.png'"
        [imageWidth]="110"
        [imageHeight]="110"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(114,194,233)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Trabajo en equipo</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="75"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/aprendiendo.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(232,89,74)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Aprendizaje</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
      <circle-progress
        [percent]="80"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/ensenando.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'rgb(93,225,196)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
        [clockwise]="false"
        [showBackground]="true"
        [backgroundColor]="'white'"
        [backgroundPadding]="-15"
      ></circle-progress>
      <p class="text-center" id="titulos-circle">Enseñanza</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img
        class=""
        id="skills-img"
        src="../../assets/habilidad.png"
        alt="Imagen"
      />
    </div>
  </div>
</div>
