<div class="container-fluid">
  <div class="row">
    <h1>Soft & Hard skills</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
        [percent]="85"
        [showSubtitle]="false"
        [radius]="90"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Logo_512.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(241,101,41)'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="0"
      ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        class="float-end"
        id="skills-img"
        src="../../assets/habilidad.png"
        alt="Imagen"
      />
    </div>
  </div>
</div>
