<header class="container-fluid fixed-top">
  <div class="row justify-content-center"> 
    <div class="col">
      <a href="http://localhost:4200/login" style="text-decoration: none;" *ngIf="!isLogged">
        <button id="login" class="btn" type="button"><b>Login</b></button>
        <button id="login" class="btn" type="button" (click)="onLogOut()" *ngIf="isLogged"><b>Salir</b></button>
      </a>

      <a href="http://localhost:4200/" style="text-decoration: none;" *ngIf="isLogged" (click)="onLogOut()">
        <button id="loginOut" class="btn" type="button"><b>Salir</b></button>
      </a>

      <a
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      target="_blank"
      ><img id="logoAp" src="../../assets/APLogo-20-20.png" alt=""
      /></a>

      <a href="https://www.instagram.com/marianovera.22/" target="_blank"
      ><i class="bi bi-instagram" id="instagram"></i></a>
    
      <a href="https://github.com/MarianoVera22" target="_blank"
        ><i class="bi bi-github" id="github"></i></a>
    
      <a href="mailto:marianonvera.22@gmail.com/" target="_blank"
        ><i class="bi bi-google" id="gmail"></i></a>
    
      <a href="https://www.linkedin.com/in/marianoveracausich/" target="_blank"
        ><i class="bi bi-linkedin" id="linkedin"></i></a>

    </div>
  </div>
</header>
