<div class="container-fluid fixed-top">
  <div class="row justify-content-center"> 
    <div class="col">
      <button id="login" class="btn" type="button"><b>Login</b></button>

      <a
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      target="_blank"
      ><img id="logoAp" src="../../assets/APLogo-20-20.png" alt=""
      /></a>

      <a href="https://www.instagram.com/marianovera.22/" target="_blank"
      ><img src="../../assets/pngegg.png" alt="" id="logoSocial"
      /></a>
    
      <a href="https://github.com/MarianoVera22" target="_blank"
        ><img src="../../assets/icons8-github-30.png" alt="" id="logoSocial"
      /></a>
    
      <a href="mailto:marianonvera.22@gmail.com/" target="_blank"
        ><img src="../../assets/icons8-gmail-30.png" alt="" id="logoSocial"
      /></a>
    
      <a href="https://www.linkedin.com/in/marianoveracausich/" target="_blank"
        ><img
          src="../../assets/kisspng-computer-icons-linkedin-desktop-wallpaper-white-5abcebad15e7c5.1517199115223305410897.png"
          alt=""
          id="linkedin"
      /></a>

    </div>
  </div>
</div>
